*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #24272e;
}

header{
    background: #fff;
    padding: 20px;
}

header > h1{
    color: #25272e;
    text-align:center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.08em;
}

.score-board{
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.08em;
    border: 3px solid #fff;
    border-radius: 6px;
    text-align:center;
    padding: 15px 20px;
    width:300px;
    margin: 20px auto;
    color:#fff;
    font-size: 42px;
}

.badge{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.08em;
    background: #e2584d;
    border: 2px dashed #fff;
    color:#fff;
    padding: 2px 10px;
    font-size: 18px;
}

#user-label{
    position: absolute;
    top:24px;
    left:-35px;
}

#computer-label{
    position: absolute;
    top:24px;
    right:-62px;
}

.result{
    font-size:43px;
    color:#fff;
    margin: 50px 0;
}

.result > h2 {
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.04em;
    font-weight: 800;
}

/* The hands */

.choices{
    margin: 50px 0;
    text-align: center;
}

.choice{
    display: inline;
    padding: 24px;  
}

/* .choice > img{
    width: 8%;
} */


/* On hover fun */
.choice > img:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Action Message */

button#action-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.04em;
    font-weight: 800;
    background: #e2584d;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    border-radius: 10px;
    border: 2px dashed #fff;
    margin: 0 auto;
    display: block;
}

button#action-button:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
}